@charset "utf-8";
/* CSS Document */
h1 { 
	background-color:mistyrose;
	font-family: 'Brush Script MT', cursive;
	color:lightpink;
	font-size: 60px;
}

img {
	width: 20%
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightpink;
  position: fixed;
  top: 0;
  width: 100%;
	
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: lightcoral;
}

ul li a.active {
  background-color: lightcoral;
}
